# Credentials
config.json

# Python files
__pycache__/
*.pyc
*.pyo
*.pyz
draft_main.py

# Egg files
*.egg-info/
*.egg

# Virtual environments
env/
venv/
*.python-version

# Log files
*.log

# image files
*.png
*.jpg
*.svg
